<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">Answer page</h1>
</ion-header-bar>
<ion-content>
  <div id="answer" ng-controller="AnswerController as controller">
    <h2><span ng-if="controller.isCorrectGuess()">Correct</span>
    <span ng-if="!controller.isCorrectGuess()">Incorrect</span></h2>

    <h3>{{ controller.currentSong().artist }}</h3>
    <p>{{ controller.currentSong().title }}</p>
    <h5>{{ controller.totalScore() }}</h5>
    <button id="play-another" class="button" ng-if="!controller.isGameEnd()" ng-click="controller.nextTurn()">Play another song</button>
    <button id="new-album" class="button" ng-click="controller.changeToAlbumsState()">New album</button>
  </div>
</ion-content>
